<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Crie sua pergunta</title>
</head>
<body>
    <header>{% include 'header.html' %}</header>
    <div>{% include 'message.html' %}</div>
    <main>
        <form role="form" method="POST" action="{{ url_for('auth.nova_pergunta') }}">
            <!-- titulo da pergunta -->
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="inputTitulo" class="col-form-label">Título da pergunta</label>
              </div>
              <div class="col-auto">
                <input type="text" id="inputTitulo" class="form-control" aria-describedby="passwordHelpInline" name="titulo" required>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Uma breve descrição da pergunta.
                </span>
              </div>
            </div>
            <!-- pergunta -->
            <div class="mb-3">
              <label for="TextareaPergunta" class="form-label">Pergunta: </label>
              <textarea class="form-control" id="TextareaPergunta" rows="3" name="pergunta" required></textarea>
            </div>
            <!-- respostas -->
            <div class="mb-3">
              <label for="TextareaResposta1" class="form-label">Resposta 1: </label>
              <textarea class="form-control" id="TextareaResposta1" rows="3" name="resposta_1" required></textarea>
            </div>
            <div class="mb-3">
              <label for="TextareaResposta2" class="form-label">Resposta 2: </label>
              <textarea class="form-control" id="TextareaResposta2" rows="3" name="resposta_2" required></textarea>
            </div>
            <div class="mb-3">
              <label for="TextareaResposta3" class="form-label">Resposta 3: </label>
              <textarea class="form-control" id="TextareaResposta3" rows="3" name="resposta_3" required></textarea>
            </div>
            <div class="mb-3">
              <label for="TextareaResposta4" class="form-label">Resposta 4: </label>
              <textarea class="form-control" id="TextareaResposta4" rows="3" name="resposta_4" required></textarea>
            </div>

            <!-- Seleção da pergunta certa -->
            <select class="form-select" aria-label="Default select example" name="resposta_certa">
              <option selected>Selecione a resposta correta</option>
              <option value="1">Primeira</option>
              <option value="2">Segunda</option>
              <option value="3">Terceira</option>
              <option value="4">Quarta</option>
            </select>

            <!-- Dificuldade da questão -->
            <br>
            <p>Dificuldade da questão:</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="questao_dificuldade" id="flexRadioDefault1" value="facil">
              <label class="form-check-label" for="flexRadioDefault1">
                Fácil
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="questao_dificuldade" id="flexRadioDefault2" value="medio" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Médio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="questao_dificuldade" id="flexRadioDefault3" value="dificil">
              <label class="form-check-label" for="flexRadioDefault3">
                Difícil
              </label>
            </div>
            <br>
        <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
    </main>
    <footer>{% include 'footer.html' %}</footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
</body>
</html>