{% extends "template_dashboard.html" %}
{% block title %} Home {% endblock %}
{% block conteudo %}
   <header>
        {% include 'header.html' %}
   </header>
    <div> {% include 'message.html' %} </div>
    <main style="background: lightblue">
        <div class="container">
            <div class="row">
                <div class=" col-md-12 text-center">
                    <img src="../static/img/tg-logo.png" width="100" height="100" alt="Tangram Logo">
                    <h1>Tangram Ensino</h1>
                </div>
            </div>
        </div>
        <br>
        {% if user.has_role == 1 %}
            <p>Bem vindo, Admin</p>
            <a href="{{ url_for('views.cadastro') }}" target="_self" rel="next">Cadastrar Professor</a>
        {% elif user.has_role == 2 %}
            <p>Bem vindo, Professor</p>
        {% elif user.has_role == 3%}
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Perguntas Resumo</h5>
                          <p class="card-text">Perguntas respondidas: X</p>
                          <p>Perguntas acertadas: Y</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="float-end">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body ">
                                <h5 class="card-title">Tangram Coins</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Sua carteira</h6>
                                {% for user in user.saldo %}
                                <p class="card-text">Você possuí {{ user.saldo }} Tangramcoin</p>
                                {% endfor %}
                                <a href="#" class="card-link">Investir</a>
                                <a href="#" class="card-link">Doar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
{% endblock %}
