{% extends "template.html" %}
{% block title %} Home {% endblock %}
{% block conteudo %}
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a
                href="{{ url_for('views.home') }}"
                class="navbar-brand mb-0 h1">
                    <img
                        class="d-inline-block align-top"
                        src="../static/img/nasadaq_icon.png"
                        width="30" height="30"
                        alt="Banco Logo">
                    Banco Skuld
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="{{ url_for('views.home') }}" class="nav-link">
                            Home
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a href="{{ url_for('auth.logout') }}" class="nav-link">
                                Logout
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a href="{{ url_for('views.login') }}" class="nav-link">
                                Login
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a href="{{ url_for('views.cadastro') }}" class="nav-link">
                                Cadastro
                            </a>
                    {% endif %}
                </ul>

            </div>
        </nav>
    </header>
    {% if not user.is_authenticated %}
        <img src="../static/img/nasdaq.jpg" alt="Nasdaq Image">
    {% else %}
        {% if user.has_role == 1 %}
            <p>Bem vindo, Admin</p>
            <a href="{{ url_for('views.cadastro') }}" target="_self" rel="next">Cadastrar Professor</a>
        {% elif user.has_role == 2 %}
            <p>Bem vindo, Professor</p>
        {% elif user.has_role == 3%}
            <p>Bem vindo, Aluno {{ user.nome }}</p>
            {% for user in user.saldo %}
                <p>Seu saldo é: {{ user.saldo }} TangramCoins</p>
                <div>
                    <form action="{{ url_for('auth.deposita') }}" method="post">
                        <div class="mb-3">
                          <label for="saldo_depositar" class="form-label">Saldo</label>
                          <input type="number" class="form-control" id="saldo_depositar" name='saldo_deposita' required>
                        </div>
                        <button type="submit" class="btn btn-primary">Depositar</button>
                    </form>
                    <form action="{{ url_for('auth.sacar') }}" method="post">
                        <div class="mb-3">
                          <label for="saldo_sacar" class="form-label">Saldo</label>
                          <input type="number" class="form-control" id="saldo_sacar" name='saldo_sacar' required>
                        </div>
                        <button type="submit" class="btn btn-primary">Sacar</button>
                    </form>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
